
.contact-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F2F2F2; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h1 {
    text-align: center;
    color: #424242; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
  }
  
  .contact-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #424242; 
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Calibri', sans-serif;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #F9ED32; 
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #424242; 
    color: #EDEDED; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3C3C3C; 
  }
  